<div class="sidebar-background">
    <div class="sidebar-container container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="../assets/logo-full.png" width="65%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <hr class="w-100 separator">
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-md-12 p-0">
                <ul class="mynav" *ngIf="!profileService.profileIsCoach()">
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']"
                        [routerLink]="['profile', authenticationProfile.id]"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">person</i>
                            <span class="pl-4">Mon profil</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']" routerLink="/accueil"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">store</i>
                            <span class="pl-4">Accueil</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']" routerLink="/programme"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">assignment</i>
                            <span class="pl-4">Programme</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']"
                        [routerLink]="['evolution', authenticationProfile.id]"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">trending_up</i>
                            <span class="pl-4">Evolution</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']" routerLink="/seances"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">fitness_center</i>
                            <span class="pl-4">Séances</span>
                        </a>
                    </li>
                    <!--<li class="sidebar-link pt-2 pb-3">
                        <a [routerLinkActive]="['active']" routerLink="/accueil"
                           *ngIf="auth.authenticated() && profileService.profileIsCompleted()">
                            <i class="material-icons">photo_library</i>
                            <span class="pl-4">Timeline</span>
                        </a>
                    </li>-->
                    <li class="sidebar-link pt-2 pb-3" (click)="signout()" *ngIf="auth.authenticated()">
                        <a>
                            <i class="material-icons">power_settings_new</i>
                            <span class="pl-4">Déconnexion</span>
                        </a>
                    </li>
                </ul>
                <ul class="mynav" *ngIf="profileService.profileIsCoach()">
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']"
                        [routerLink]="['profile', authenticationProfile.id]"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">person</i>
                            <span class="pl-4">Mon profil</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']" routerLink="/accueil">
                        <a>
                            <i class="material-icons">store</i>
                            <span class="pl-4">Accueil</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']"
                        [routerLink]="['adherents', authenticationProfile.id]"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">supervisor_account</i>
                            <span class="pl-4">Adhérents</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']"
                        [routerLink]="['machines', authenticationProfile.id]"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">fitness_center</i>
                            <span class="pl-4">Machines</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" [routerLinkActive]="['active']"
                        [routerLink]="['exercices']"
                        *ngIf="profileService.profileIsCompleted()">
                        <a>
                            <i class="material-icons">fitness_center</i>
                            <span class="pl-4">Exercices</span>
                        </a>
                    </li>
                    <li class="sidebar-link pt-2 pb-3" (click)="signout()" *ngIf="auth.authenticated()">
                        <a>
                            <i class="material-icons">power_settings_new</i>
                            <span class="pl-4">Déconnexion</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>