<div *ngIf="workedMuscles.length>0; else empty">
    <div class="col-md-6 my-auto font-italic font-weight-light legend">
        <span><i class="ion ion-record pr-1 easy"></i>Légère</span>
        <span class="pl-2"><i class="ion ion-record pr-1 medium"></i>Moyenne</span>
        <span class="pl-2"><i class="ion ion-record pr-1 hard"></i>Forte</span>
    </div>
    <md-chip-list class="mat-chip-selected col-md-12">
        <div *ngFor="let workedMuscle of workedMuscles" [ngSwitch]="workedMuscle.intensity"
             [@fadeIn]>
            <md-chip *ngSwitchCase="difficultyEnum.hard"
                     selected="true"
                     class="hard">
                {{workedMuscle | translateWorkedMuscleName:workedMuscle}}
                <i class="ion ion-ios-close-outline pointer" (click)="deleteThis(workedMuscle)"></i>
            </md-chip>
            <md-chip *ngSwitchCase="difficultyEnum.medium"
                     selected="true"
                     class="medium">
                {{workedMuscle | translateWorkedMuscleName:workedMuscle}}
                <i class="ion ion-ios-close-outline pointer" (click)="deleteThis(workedMuscle)"></i>
            </md-chip>
            <md-chip *ngSwitchCase="difficultyEnum.easy"
                     selected="true"
                     class="easy">
                {{workedMuscle | translateWorkedMuscleName:workedMuscle}}
                <i class="ion ion-ios-close-outline pointer" (click)="deleteThis(workedMuscle)"></i>
            </md-chip>
        </div>
    </md-chip-list>
</div>
<ng-template #empty>
    <div class="col-md-12 pt-1">
        <p>Aucun muscle travaillé pour cet exercice</p>
    </div>
</ng-template>