<md-card class="repartition h-100">

  <div class="row mb-2">
    <div class="col-md-12">
      <p class="lead text-light-weight text-center mb-0">Répartition des exercices</p>
    </div>
    <hr class="w-100">
  </div>
  <div class="row">
    <div class="w-100" style="max-height: 20vh;">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="chartLegends"
              [colors]="chartColors"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</md-card>