<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="text-center">
                <h4 class="text-light-weight">{{title}}</h4>
            </div>
        </div>
        <form (ngSubmit)="confirm()" [formGroup]="memberForm">
            <div class="modal-body">
                <md-tab-group>
                    <md-tab label="Informations" class="row">
                        <div class="overflow-hidden">
                            <md-input-container class="col-md-12" color="primary" ngxErrors="email">
                                <input id="inputMail" mdInput type="email"
                                       placeholder="Votre Email"
                                       formControlName="email"
                                       required>
                            </md-input-container>
                            <md-input-container class="col-md-12" color="primary" ngxErrors="firstName">
                                <input id="inputFirstname" mdInput type="text"
                                       placeholder="Votre prénom"
                                       formControlName="firstName"
                                       required>
                            </md-input-container>
                            <md-input-container class="col-md-12" color="primary" ngxErrors="lastName">
                                <input id="inputLastname" mdInput type="text"
                                       placeholder="Votre nom"
                                       formControlName="lastName"
                                       required>
                                <md-hint *ngIf="lastNameCtrl.dirty && lastNameCtrl.hasError('')"
                                         class="form-control-feedback">Votre nom est obligatoire
                                </md-hint>
                            </md-input-container>
                            <md-input-container class="col-md-12" color="primary">
                                <input mdInput [mdDatepicker]="picker" readonly='true' formControlName="birthdate"
                                       placeholder="Saisissez votre date de naissance" required
                                       [max]="maximumBirthdate">
                                <button mdSuffix [mdDatepickerToggle]="picker"></button>
                            </md-input-container>
                            <md-datepicker #picker></md-datepicker>
                            <md-radio-group formControlName="gender" class="col-md-12 pl-3">
                                <i class="ion-ios-person-outline iconGender"></i>
                                <md-radio-button value="Male">Homme</md-radio-button>
                                <md-radio-button class="pl-4" value="Female">Femme</md-radio-button>
                            </md-radio-group>
                        </div>
                    </md-tab>
                    <md-tab label="Objectif">
                        <div class="row pt-4">
                            <div class="col-md-4" *ngFor="let objective of objectiveChoices">
                                <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                                     [class.active]="objective.checked"
                                     (click)="check(objective)">
                                    <input type="radio" name="objective" [checked]="objective.checked"
                                           formControlName="objective">
                                    <div class="icon center-icon">
                                        <img [src]="objective.picture">
                                    </div>
                                    <h6 class="text-uppercase formule-type-title">{{objective.display}}</h6>
                                </div>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Salle de sport">
                        <div class="row pt-4" *ngIf="!profileService.profileIsCoach()">
                            <div class="col-md-12">
                                <div class="row">
                                    <md-select placeholder="Choisissez votre salle" formControlName="gym"
                                               class="col-md-12 form-group" [(ngModel)]="member.gym._id">
                                        <md-option *ngFor="let gym of gyms" [value]="gym._id">
                                            {{gym.name}} - {{gym.city}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <md-input-container class="col-md-12" required>
                                <input id="inputFrequency" type="number" mdInput formControlName="frequency"
                                       placeholder="Saisissez la fréquence à votre salle de sport" required>
                            </md-input-container>
                        </div>
                    </md-tab>
                </md-tab-group>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat-danger" (click)="close()">Annuler</button>
                <button class="btn btn-primary" type="submit" [disabled]="memberForm.invalid">{{titleAction}}</button>
            </div>
        </form>
    </div>
</div>