<div class="row">
    <div class="col-md-6">
        <h3 class="text-left text-black-primary text-w-300">
            Votre programme
        </h3>
    </div>
    <div class="col-md-6 my-auto">
        <md-select placeholder="Séance" class="pull-right" [(ngModel)]="focusedSession"
                   (change)="focusedSessionChanged($event)">
            <md-option *ngFor="let session of program.sessions; let i = index;" [value]="session">
                Séance {{ i+1 }}
            </md-option>
        </md-select>
        <h3 class="my-auto"><i class="mr-2 pull-right fa fa-filter text-secondary"></i></h3>
    </div>
</div>
<hr>
<section>
    <div class="row mb-3">
        <div class="col-md-4">
            <pulpe-simple-counter-with-icon icoClass="ion ion-ios-calendar-outline"
                                            label="Généré le"
                                            icoBackgroundColor="orange"
                                            value="{{createdAt}}">
            </pulpe-simple-counter-with-icon>
        </div>
        <div class="col-md-4">
            <pulpe-simple-counter-with-icon icoClass="ion ion-ios-refresh-empty"
                                            label="Nb. de fois terminé"
                                            icoBackgroundColor="green"
                                            value="33x">
            </pulpe-simple-counter-with-icon>
        </div>
        <div class="col-md-4">
            <pulpe-simple-counter-with-icon icoClass="ion-ios-timer-outline"
                                            label="Durée"
                                            icoBackgroundColor="blue"
                                            value="{{totalTimeOfFocusedSession}}">
            </pulpe-simple-counter-with-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-2">
            <md-card class="goals h-100">
                <p class="lead text-light-weight text-center mb-0">Objectif</p>
                <hr class="w-100">
                <div class="row">
                    <div class="col-md-12 text-center mt-md-4">
                        <p class="lead text-center mb-0 text-white text-w-400">{{program.objective}}</p>
                        <img src="../../assets/img/exercise-types/strength-64.png" alt="Type">
                    </div>
                </div>
            </md-card>
        </div>
        <div class="col-md-8 mb-2">
            <pulpe-exercises-repartition-graph [session]="focusedSession"></pulpe-exercises-repartition-graph>
            <!--<md-card class="goals h-100">-->

            <!--<div class="row mb-2">-->
            <!--<div class="col-md-12">-->
            <!--<p class="lead text-light-weight text-center mb-0">Répartition des exercices</p>-->
            <!--</div>-->
            <!--<hr class="w-100">-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="w-100" style="max-height: 20vh;">-->
            <!--<canvas baseChart-->
            <!--[datasets]="chartData"-->
            <!--[labels]="chartLabels"-->
            <!--[options]="chartOptions"-->
            <!--[legend]="chartLegends"-->
            <!--[colors]="chartColors"-->
            <!--[chartType]="chartType"-->
            <!--(chartHover)="chartHovered($event)"-->
            <!--(chartClick)="chartClicked($event)"></canvas>-->
            <!--</div>-->
            <!--</div>-->
            <!--</md-card>-->
        </div>
    </div>

</section>

<section>
    <div class="row">
        <div class="col-md-12">
            <md-tab-group (selectChange)="refreshFocusedExercisesGroupBy($event)" exercisesGroupTab>
                <md-tab *ngFor="let exercisesGroupLabel of exerciseGroupLabels"
                        label="{{exercisesGroupLabel.label}}">
                    <md-card>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <md-list-item
                                                *ngFor="let exercise of focusedExercisesGroup.exercises; let last = last">
                                            <pulpe-exercise-preview [exercise]="exercise" (exerciseUpdated)="refreshProgramByExercise($event)"></pulpe-exercise-preview>
                                            <hr *ngIf="!last" class="white">
                                        </md-list-item>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card>
                </md-tab>
            </md-tab-group>
        </div>
    </div>
</section>