<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="text-center">
                <h4 class="text-light-weight">{{title}}</h4>
            </div>
        </div>
        <form (ngSubmit)="confirm()" [formGroup]="exerciseForm">
            <div class="modal-body pt-0">
                <!--<div>myForm details:-</div>-->
                <!--<pre>form value: <br>{{exerciseForm.value | json}}</pre>-->
                <md-tab-group>
                    <md-tab label="Informations générales" class="row">
                        <div class="pt-2 form-group">
                            <div class="col-md-12">
                                <span class="text-w-300 titleWorkedMuscles">
                                Information de l'exercice
                                </span>
                                <hr>
                            </div>
                            <md-input-container class="col-md-10 offset-md-1" color="primary">
                                <input id="inputName" mdInput type="text" minlength="5" maxlength="50"
                                       placeholder="Nom de l'exercice"
                                       formControlName="name"
                                       required>
                            </md-input-container>
                        </div>
                        <div class="form-group">
                            <md-select placeholder="Choisissez un type d'exercice" class="col-md-12"
                                       formControlName="type" required
                                       (change)="refreshSpecificPropertiesOnChangeExerciseType()">
                                <md-option *ngFor="let exerciseGroupCode of exercisesGroupCodes"
                                           [value]="exerciseGroupCode.enumValue">
                                    {{exerciseGroupCode.label}}
                                </md-option>
                            </md-select>
                        </div>
                        <div [ngSwitch]="exercise.type" formGroupName="specifics" class="form-group">
                            <div *ngSwitchCase="ExerciseGroupTypeEnum.BodybuildingExercise">
                                <md-input-container class="col-md-10 offset-md-1" color="primary">
                                    <input id="inputWeight" mdInput type="number"
                                           placeholder="Poids"
                                           formControlName="weight"
                                           required>
                                </md-input-container>
                            </div>
                            <div *ngSwitchCase="ExerciseGroupTypeEnum.CardioExercise">
                                <md-input-container class="col-md-10 offset-md-1" color="primary">
                                    <input id="inputCardioKm" mdInput type="number"
                                           placeholder="Km"
                                           formControlName="km"
                                           required>
                                </md-input-container>
                            </div>
                            <div *ngSwitchCase="ExerciseGroupTypeEnum.TrainingExercise">
                                <md-input-container class="col-md-10 offset-md-1" color="primary">
                                    <input id="inputTrainingKm" mdInput type="number"
                                           placeholder="Km"
                                           formControlName="km"
                                           required>
                                </md-input-container>
                            </div>
                            <div *ngSwitchCase="ExerciseGroupTypeEnum.OrganizedExercise">
                                <md-select placeholder="Choisissez la difficulté du cours" class="col-md-10 offset-md-1"
                                           formControlName="difficulty" required>
                                    <md-option *ngFor="let difficultyLabel of difficultyLabels"
                                               [value]="difficultyLabel">
                                        {{difficultyLabel}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>

                        <div *ngIf="isDialogModeAdd" class="form-group">
                            <md-select placeholder="Choisissez la séance" class="col-md-12"
                                       formControlName="sessions">
                                <md-option *ngFor="let session of sessions"
                                           [value]="session">
                                    {{session.dayInWeek}}
                                </md-option>
                            </md-select>
                        </div>

                    </md-tab>
                    <md-tab label="Muscles travaillés" class="row">
                        <div class="col-md-12 pt-2">
                            <span class="text-w-300 titleWorkedMuscles">
                                Ajout d'un nouveau muscle travaillé
                            </span>
                            <hr>
                        </div>
                        <pulpe-select-worked-muscle
                                (muscleAdded)="addWorkedMuscle($event)"></pulpe-select-worked-muscle>
                        <div class="col-md-12 pt-4">
                            <div class="row">
                                <div class="col-md-6 text-w-300 titleWorkedMuscles">
                                    Liste des muscles travaillés
                                </div>
                            </div>
                            <hr>
                        </div>
                        <pulpe-chips-removable-worked-muscle
                                [workedMuscles]="workedMusclesCtrl.value"
                                (workedMuscleDeletedAtThisIndex)="deleteWorkedMuscleAtThis($event)"></pulpe-chips-removable-worked-muscle>
                    </md-tab>
                    <md-tab class="row" label="Machines">
                        <div class="col-md-12 pt-2">
                        <span class="text-w-300 titleWorkedMuscles">
                            Ajout d'une machine
                        </span>
                            <hr>
                        </div>
                        <pulpe-select-machines [selectedMachines]="usedMachinesCtrl.value"
                                               (machineAdded)="addUsedMachine($event)"
                                               (machineDeletedAtThisIndex)="deleteUsedMachineAtThis($event)"></pulpe-select-machines>
                    </md-tab>
                </md-tab-group>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat-danger" (click)="close()">Annuler</button>
                <button class="btn btn-primary" type="submit" [disabled]="exerciseForm.invalid">
                    Sauvegarder
                </button>
            </div>
        </form>
    </div>
</div>