<div class="row">
    <div class="col-md-12">
        <div class="mycard mycard-stats">
            <div class="mycard-header {{icoBackgroundColor}}">
                <i class="{{icoClass}}"></i>
            </div>
            <div class="mycard-content">
                <p class="category">{{label}}</p>
                <h3 class="value">{{value}}</h3>
            </div>
            <!--<div class="mycard-footer">-->
            <!--<div class="stats">-->
            <!--<i class="material-icons text-danger">warning</i>-->
            <!--<i class="material-icons">date_range</i> Last 24 Hours-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>