<div class="row">
    <div class="col text-center">
        <h1 class="display-4">Prochaine séance Samedi à 14H00</h1>
    </div>
</div>

<div class="row card-cascade-parent">
    <div class="col-md-12">
        <md-card class="pt-0 white">
            <div class="row">
                <div class="col-md-5">
                    <md-card class="primary-color card-cascade">
                        <h4 class="text-light-weight white-text">Mon activité</h4>
                    </md-card>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <md-list-item *ngFor="let folder of folders">
                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center">
                                        <h4 md-line class="list-header">{{folder.name}}</h4>
                                    </div>
                                    <div class="col-md-6 vcenter">
                                        <md-progress-spinner [color]="color"
                                                             [mode]="mode" [value]="folder.value" ></md-progress-spinner>
                                    </div>
                                </div>
                            </md-list-item>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <md-card class="primary-color card-cascade">
                        <md-card-content>
                            <h4 class="white-text m-0 text-light-weight">Mes mensurations</h4>
                            <img src="../../../assets/img/man-silouhette-2.png" class="no-shadow d-inline text-center"
                                 width="30%">
                        </md-card-content>

                    </md-card>
                </div>
            </div>
        </md-card>
    </div>
</div>