<md-card class="bg-secondary card-cascade">
    <h4 class="text-light-weight text-white">Mes mensurations</h4>
</md-card>
<div class="row mt-4" [@fadeIn]>
    <div class="col-md-12">
        <div class="measurements-list">
            <md-list-item *ngFor="let measurement of member.measurements; let last = last">
                <div class="row" *ngIf="measurement.name !== MeasurementEnum.Name[MeasurementEnum.Name.Imc]">
                    <div class="col-md-6 text-center">
                        <p class="text-black-primary text-muted">
                            {{measurementConverter.getLabelFrom(measurement.name)}}</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <div>
                            <span class="text-black-primary text-muted">
                            {{measurement.value}} {{measurement.unit}}
                        </span>
                        </div>
                    </div>
                </div>
                <hr *ngIf="!last && measurement.name !== MeasurementEnum.Name[MeasurementEnum.Name.Imc]">
            </md-list-item>
        </div>
        <div>
            <button type="button" (click)="openDialogAddMeasurement()"
                    class="btn btn-lg btn-secondary text-white w-100 text-center"
                    type="submit">
                <i class="ion-plus"></i>
            </button>
        </div>
    </div>
</div>