@import "../../assets/style/colors";

.jumbotron {
  background-color: $dark-primary-color;
  box-shadow: none;
  border-radius: 0;
}

.pulpe-brand {
  font-weight: 100;
  font-size: 6rem;
  color: $primary-color;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.30);
}

.i-am-centered {
  margin: auto;
  max-width: 300px;
}

.subtitle {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 300%;
  font-size: 1.3rem;
}