<div class="row text-center mt-20">
    <div class="col-md-12">
        <img src="../../assets/logo-full.png" class="w-25 img-fluid">
        <p class="lead text-white subtitle">Votre assistant de fitness virtuel.</p>

        <div class="mt-4">
            <button class="btn btn-primary btn-round btn-lg" routerLink="/connexion">
                <i class="ion ion-log-in pr-3"></i>Connexion
            </button>
            <button class="btn btn-primary btn-round btn-lg" routerLink="/inscription">
                <i class="ion ion-log-in pr-3"></i>Inscription
            </button>
        </div>
    </div>
</div>