$primary-color: #FF5722;
$accent-color: #448AFF;
$warn-color: #e53935;
$white-color: #ffffff;

$dark-primary-color: #E64A19;
$light-primary-color: #FFCCBC;

$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;

$input-error-color: red;