@import "_colors";
@import "_sizes";
@import "_text";

body {
  background-color: #eee;
  color: $primary-text;
  padding-top: 4.5rem;
}

.bg-primary-color {
  background-color: $primary-color !important;
  a {
    color: white !important;
  }
  color: $light-primary-color !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $secondary-text !important;
  cursor: pointer;
}

.overflow-top {
  position: absolute;
  top: -33px;
}

.card-cascade {
  margin-top: -20px !important;
  padding: 1rem !important;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.card-cascade-parent {
  margin-top: 3rem;
}

.no-shadow {
  box-shadow: none !important;
}

.white {
  background-color: white;
}

.navbar {
  &.shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.mat-progress-circle {
  &.mat-accent {
    path {
      stroke-width: 3px !important;
    }
  }
}

.mat-progress-spinner {
  &.mat-accent {
    path {
      stroke-width: 3px !important;
    }
  }
}

.mat-spinner {
  &.mat-accent {
    path {
      stroke-width: 3px !important;
    }
  }
  p {
    position: absolute;
    top: 38px;
    width: 100px;
    text-align: center;
  }
}

.list-header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: inherit;
  /* color: eee; */
  color: rgba(0, 0, 0, .54);
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.pulpe-brand {
  font-weight: 100;
  font-size: 2rem;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}