@import "../../../../assets/style/colors";

.separatorVertical {
  border-right: 1px solid $primary-color;
}

md-card {
  opacity: 0.8;
}

.searchPlaceHolder {
  font-size: 0.8rem;
}

.icon {
  font-size: 1.7rem;
}

.searchPlaceHolder {
  font-size: 0.8rem;
}