@import "../../assets/style/colors";

.objectiveImg {
  width: 2rem;
}

.iconsList {
  font-size: 1.3rem;
}

.usersIcon {
  font-size: 1.7rem;
}

.addIcon {
  font-size: 1.2rem;
}

.searchPlaceHolder {
  font-size: 0.8rem;
}

md-card {
  opacity: 0.8;
}

.separatorVertical {
  border-right: 1px solid $primary-color;
}

.maleIcon {
  font-size: 1.9rem;
  color: $accent-color;
}

.femaleIcon {
  font-size: 1.9rem;
  color: $primary-color;
}

td {
  vertical-align: middle;
}