<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <div class="text-center">
                <h4 class="text-light-weight">{{title}}</h4>
            </div>
        </div>
        <form (ngSubmit)="confirm()" [formGroup]="machineForm">
            <div class="modal-body">
                <div class="row pt-2 form-group">
                    <div class="col-md-12">
                        <span class="text-w-300 titleWorkedMuscles">
                            Information de la machine
                        </span>
                        <hr>
                    </div>

                    <md-input-container class="col-md-10 offset-md-1" color="primary">
                        <input id="inputName" mdInput type="text" minlength="4" maxlength="30"
                               placeholder="Nom de la machine"
                               formControlName="name"
                               required>
                    </md-input-container>
                </div>
                <div class="col-md-12 pt-2">
                        <span class="text-w-300 titleWorkedMuscles">
                            Ajout d'un nouveau muscle travaillé
                        </span>
                    <hr>
                </div>

                <pulpe-select-worked-muscle
                        (muscleAdded)="addWorkedMuscle($event)"></pulpe-select-worked-muscle>

                <div class="col-md-12 pt-4">
                    <div class="row">
                        <div class="col-md-6 text-w-300 titleWorkedMuscles">
                            Liste des muscles travaillés
                        </div>
                    </div>
                    <hr>
                </div>
                <pulpe-chips-removable-worked-muscle (workedMuscleDeleted)="deleteThis($event)"
                                                     [workedMuscles]="workedMusclesTmp"></pulpe-chips-removable-worked-muscle>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" [disabled]="machineForm.invalid">
                    <span>{{titleConfirm}}</span>
                </button>
                <button type="button" class="btn btn-default" (click)="close()">Annuler</button>
            </div>
        </form>
    </div>
</div>