@import "../../assets/style/colors";

.exerciseTitle {
  font-size: 1.15rem;
  font-weight: 400;
  //background-color: @accent-color;
  color: $accent-color;
}

.exerciseMachineName{
  font-size: 0.85rem;
  font-weight: 400;
  font-style: italic;
  color: $secondary-text;
}

.exerciseDetails {
  color: rgba(0, 0, 0, .54);
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}