<div [@fadeIn]>
    <pulpe-page-title
            [title]="'Liste des exercises'">
    </pulpe-page-title>

    <div class="pb-3">
        <pulpe-header-list [title]="'Exercices'"
                           [icon]="'ion ion-podium'"
                           [nbElements]="exercisesSizes"
                           [placeHolderTitle]="'Par nom'"
                           (filterArgs)="filterArgsChanged($event)">
        </pulpe-header-list>
    </div>

    <pulpe-exercises-list [exercisesGroups]="exercisesGroups"></pulpe-exercises-list>

    <div class="row">
        <div class="col-md-12 pt-2 pb-2 btnBottomRight">
            <button md-fab class="pull-right bg-secondary" (click)="openExerciseFormDialogOnMode(openableMode.Add)"
                    mdTooltip="Ajouter un exercice" [mdTooltipPosition]="'right'">
                <i class="ion-plus addIcon"></i>
            </button>
        </div>
    </div>
</div>