<md-card class="pt-0 white">
    <div class="row pb-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <md-card class="bg-secondary card-cascade text-white text-uppercase">
                        Détails
                    </md-card>
                </div>
            </div>
        </div>
    </div>
    <md-card-content>
        <div class="row text-center">
            <div class="col-md-12 text-left">
                <h4>
                    <small class="subtitle">Informations personnelles</small>
                </h4>
            </div>
            <hr class="w-100 mt-0">
            <div class="col-md-3">
                <label class="text-uppercase">Email</label><br>
                <label class="text-secondary">{{member.mail}}</label>
            </div>
            <div class="col-md-3">
                <label class="text-uppercase">Nom</label><br>
                <label class="text-secondary">{{member.lastName}}</label>
            </div>
            <div class="col-md-3">
                <label class="text-uppercase">Prénom</label><br>
                <label class="text-secondary">{{member.firstName}}</label>
            </div>
            <div class="col-md-3">
                <label class="text-uppercase">Occurence à la salle</label><br>
                <label class="text-secondary">{{member.sessionFrequency}} fois</label>
            </div>
        </div>

        <div class="row text-center pt-4">
            <div class="col-md-12 text-left">
                <h4>
                    <small class="subtitle">Mensurations principales</small>
                </h4>
            </div>
            <hr class="w-100 mt-0">
            <div class="col-md-6" *ngFor="let measurement of member.measurements">
                <div [ngSwitch]="measurement.name">
                    <div *ngSwitchCase="'SIZE'">
                        <label class="text-uppercase">Taille</label><br>
                        <label class="text-secondary">{{measurement.value}} {{measurement.unit}}</label>
                    </div>
                    <div *ngSwitchCase="'WEIGHT'">
                        <label class="text-uppercase">Poids</label><br>
                        <label class="text-secondary">{{measurement.value}} {{measurement.unit}}</label>
                    </div>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>