<div class="row">
    <div class="col-md-12">
        <md-card class="text-center">
            <h2 class=" title pt-1">Complèter votre profil</h2>
            <h4 class="subtitle text-center pt-2">Ces informations nous permettront d'en savoir plus sur vous.</h4>
        </md-card>
    </div>
</div>

<form (ngSubmit)="complete()" [formGroup]="profileCompleteForm">
    <div class="row card-cascade-parent pt-1">
        <div class="col-md-12">
            <md-card class="pt-0 white">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <md-card class="bg-primary-color card-cascade">
                            <h4 class="text-light-weight">Remplissez ces informations.</h4>
                        </md-card>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-8 offset-md-2 form-group">
                        <div class="row">
                            <md-input-container class="col-md-8 offset-md-2 form-group">
                                <input id="inputDateOfBirth" type="date" mdInput formControlName="birthdate"
                                       placeholder="Saisissez votre date de naissance" required
                                       [max]="maximumBirthdate">
                                <md-hint *ngIf="birthdateCtrl.dirty && birthdateCtrl.hasError('')"
                                         class="form-control-feedback">{{errorTranslations.birthdate.required}}
                                </md-hint>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-2 form-group">
                                <md-tab-group (selectChange)="onSelectChange($event)">
                                    <md-tab label="Création de ma salle">
                                        <div class="row pt-3">
                                            <md-input-container class="col-md-12">
                                                <input id="inputNameGym" type="text" mdInput formControlName="nameGym"
                                                       placeholder="Saisissez le nom de votre salle de sport">
                                            </md-input-container>
                                            <md-hint *ngIf="nameGymCtrl.dirty && nameGymCtrl.hasError('')"
                                                     class="form-control-feedback">{{errorTranslations.name.required}}
                                            </md-hint>
                                            <md-input-container class="col-md-12">
                                                <input id="inputCityGym" type="text" mdInput
                                                       formControlName="cityGym"
                                                       placeholder="Saisissez la ville">
                                            </md-input-container>
                                            <md-hint *ngIf="cityGymCtrl.dirty && cityGymCtrl.hasError('')"
                                                     class="form-control-feedback">{{errorTranslations.city.required}}
                                            </md-hint>
                                            <md-input-container class="col-md-12">
                                                <input id="inputAddressGym" type="text" mdInput
                                                       formControlName="addressGym"
                                                       placeholder="Saisissez l'adresse">
                                            </md-input-container>
                                            <md-hint *ngIf="addressGymCtrl.dirty && addressGymCtrl.hasError('')"
                                                     class="form-control-feedback">{{errorTranslations.address.required}}
                                            </md-hint>
                                        </div>
                                    </md-tab>
                                    <md-tab label="Ma salle existe">
                                        <div class="row">
                                            <md-select placeholder="Choissisez votre salle" class="pt-4 col-md-12"
                                                       formControlName="nameExistingGym">
                                                <md-option [value]="todo">
                                                    TODO
                                                </md-option>
                                            </md-select>
                                            <md-hint *ngIf="nameExistingGymCtrl.dirty && nameExistingGymCtrl.hasError('')"
                                                     class="form-control-feedback">{{errorTranslations.nameExisting.required}}
                                            </md-hint>
                                        </div>
                                    </md-tab>
                                </md-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <div class="row mt-4">
        <div *ngIf="isInError" class="col-md-12 col-12">
            <div class="alert alert-danger">
                {{errorMsg}}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 offset-md-4">
            <button type="button" class="btn btn-lg btn-primary text-white w-100" type="submit"
                    [disabled]="profileCompleteForm.invalid">
                Go !
            </button>
        </div>
    </div>
</form>