<div [@fadeIn]>
    <pulpe-page-title
            [title]="'Votre évolution'">
    </pulpe-page-title>
    <div class="row card-cascade-parent">
        <div class="col-md-12">
            <md-card class="pt-0 white">
                <div class="row">
                    <div class="col-md-4">
                        <pulpe-measurements-list [member]="member" (measurementsAdded)="findPrevisionsPoints()">
                        </pulpe-measurements-list>
                    </div>
                    <div class="col-md-8">
                        <pulpe-efficient-line-graph [member]="member" [previsionsPoints]="previsionsPoints">
                        </pulpe-efficient-line-graph>
                    </div>
                </div>
            </md-card>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-md-6">
            <h3 class="text-left text-black-primary text-w-300">
                Suivi d'une mensuration
            </h3>
        </div>
        <div class="col-md-6 my-auto">
            <md-select placeholder="Selectionnez une mensuration" class="pull-right"
                       (change)="findEvolutionOfMeasurement($event)" [(ngModel)]="focusedMeasurement">
                <md-option *ngFor="let measurement of measurementsLabel;" [value]="measurement">
                    {{measurement}}
                </md-option>
            </md-select>
            <h3 class="my-auto"><i class="mr-2 pull-right fa fa-filter text-secondary"></i></h3>
        </div>
    </div>
    <hr>

    <div class="row pt-3" *ngIf="evolutionMeasurementPoints && evolutionMeasurementPoints.length > 1; else empty">
        <div class="col-md-10 offset-md-1 pt-3">
            <pulpe-measurement-graph [measurementName]="focusedMeasurement"
                                     [evolutionMeasurementPoints]="evolutionMeasurementPoints">
            </pulpe-measurement-graph>
        </div>
    </div>
    <ng-template #empty>
        <div class="col-md-12 pt-2 text-center">
            <p>Aucune donnée</p>
        </div>
    </ng-template>

    <div class="row pt-3" *ngIf="demo">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-warning text-white" (click)="populateDemoData()">DÉMO</button>
        </div>
    </div>
</div>