<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="text-center">
                <h4 class="text-light-weight">{{title}}</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 text-center text-light-weight">
                    {{description}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat-danger" (click)="close()">Annuler</button>
            <button class="btn btn-primary" type="button" (click)="confirm()">Supprimer</button>
        </div>
    </div>
</div>