<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="text-center">
                <h4 class="text-light-weight">Editer mon profil</h4>
            </div>
        </div>
        <div class="modal-body">
            <md-tab-group>
                <md-tab label="Informations">
                </md-tab>
                <md-tab label="Photo">
                </md-tab>
                <md-tab label="Objectif">
                </md-tab>
                <md-tab label="Salle de sport">
                </md-tab>
            </md-tab-group>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">
                Enregistrer
            </button>
            <button type="button" class="btn btn-default" (click)="close()">Annuler</button>
        </div>
    </div>
</div>