@import "../../assets/style/colors";

.addIcon {
  font-size: 1.2rem;
}

.separatorVertical {
  border-right: 1px solid $primary-color;
}

md-card {
  opacity: 0.8;
}

.searchPlaceHolder {
  font-size: 0.8rem;
}

.iconsList {
  font-size: 1.3rem;
}

.machinesIcon {
  font-size: 1.7rem;
}
