<div class="row" md-line>
    <div class="col-md-1 col-12 text-center mr-md-1" [ngSwitch]="exercisesGroupRawCode">
        <img *ngSwitchCase="bodybuildingExerciseEnumLabel"
             src="../../assets/img/exercise-types/strength-64.png"
             class="rounded" alt="Type">
        <img *ngSwitchCase="cardioExerciseEnumLabel"
             src="../../assets/img/exercise-types/cardiogram-64.png"
             class="rounded" alt="Type">
        <img *ngSwitchCase="trainingExerciseEnumLabel"
             src="../../assets/img/exercise-types/cardiogram-64.png"
             class="rounded" alt="Type">
        <img *ngSwitchCase="organizedExerciseEnumLabel"
             src="../../assets/img/exercise-types/music-player-64.png"
             class="rounded" alt="Type">
        <img *ngSwitchCase="stretchingExerciseEnumLabel"
             src="../../assets/img/exercise-types/dressing-room-64.png"
             class="rounded" alt="Type">
    </div>

    <div class="col-md-10">
        <h4 class="exerciseTitle">{{exercise.name}}
            <small class="exerciseMachineName">- {{exercise.machines[0].name}}</small>
        </h4>
    </div>
</div>

<div [ngSwitch]="exercisesGroupRawCode">
    <div *ngSwitchCase="bodybuildingExerciseEnumLabel" class="row exerciseDetails" md-line>
        <div class="col-6 offset-md-2 offset-sm-0 col-md-2 text-center">

            <i class="ion ion-refresh"></i>
            <span>{{exercise.series}}</span>
        </div>
        <div class="col-6 col-md-2 text-center">
            <span class="icon-althere"></span>
            <span>{{exercise.repetitions}} </span>
        </div>
        <div class="col-6 col-md-2 text-center">
            <i class="icon-weight"></i>
            <span> {{exercise.weight | number:'1.1'}} kg </span>
        </div>
        <div class="col-6 col-md-2 text-center">
            <i class="ion-ios-timer-outline"></i>

            <span>{{exercise.recoveryTimesBetweenEachSeries | number:'1.2-2'}} min </span>
        </div>
    </div>

    <div *ngSwitchCase="cardioExerciseEnumLabel" class="row exerciseDetails justify-content-center" md-line>
        <div class="col-6 offset-sm-0 col-md-2 text-center" *ngIf="exercise.times">
            <i class="fa fa-repeat"></i>
            <span>{{exercise.times.length}} x {{exercise.times[0] | number:'1.2-2'}} min</span>
        </div>
        <div class="col-6 col-md-2 text-center" *ngIf="exercise.km">
            <span class="fa fa-road"></span>
            <span>{{exercise.km  | number}} km</span>
        </div>
        <div class="col-6 col-md-2 text-center" *ngIf="exercise.calories">
            <i class="icon-balance"></i>
            <span> {{exercise.calories | number}} kcal</span>
        </div>
        <div class="col-6 col-md-2 text-center" *ngIf="exercise.speed">
            <i class="ion-speedometer"></i>

            <span>{{exercise.speed | number}} km/h </span>
        </div>
    </div>

    <div *ngSwitchCase="trainingExerciseEnumLabel" class="row exerciseDetails justify-content-center" md-line>
        <div class="col-6 offset-sm-0 col-md-2 text-center" *ngIf="exercise.times">
            <i class="fa fa-repeat"></i>
            <span>{{exercise.times | number:'1.2-2'}} min</span>
        </div>
        <div class="col-6 col-md-2 text-center" *ngIf="exercise.km">
            <span class="fa fa-road"></span>
            <span>{{exercise.km  | number}} km</span>
        </div>
        <div class="col-6 col-md-2 text-center" *ngIf="exercise.calories">
            <i class="icon-balance"></i>
            <span> {{exercise.calories | number}} kcal</span>
        </div>
        <div class="col-6 col-md-2 text-center" *ngIf="exercise.speed">
            <i class="ion-speedometer"></i>

            <span>{{exercise.speed | number}} km/h </span>
        </div>
    </div>

    <div *ngSwitchCase="organizedExerciseEnumLabel" class="row exerciseDetails" md-line>
        <div class="col-12 text-center">
            <i class="ion ion-ios-bolt"></i>
            <span class="text-capitalize">{{exercise.difficulty}}</span>
        </div>
    </div>

    <div *ngSwitchCase="stretchingExerciseEnumLabel" class="row exerciseDetails" md-line>
        <div class="col-12 text-center">
            <i class="fa fa-hourglass-half"></i>
            <span>{{exercise.time | number:'1.2-2'}} min</span>
        </div>
    </div>
</div>