@import "../assets/style/colors";

body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.container-bg {
  background: url('../assets/img/background.jpg');
}

.footer {
  margin-top: 1rem;
  height: 3.75rem;
  border-top: 1px solid $divider-color;
  .v-center {
    display: flex;
    align-items: center;
  }
  p {
    margin: 0;
  }
  .icon {
    font-size: 1.4rem;
    color: $primary-text;
  }
}