@import "../assets/style/colors";

body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.container-bg {
  background: url('../assets/img/background.jpg');
}