<div class="row">
    <div class="col-md-12">
        <div class="bg-secondary card-cascade text-white block-height-infos">
            <h4 class="text-center text-light-weight">Mes informations</h4>
            <hr class="w-100">
            <div class="text-center text-light-weight contentInfos pt-4">
                <div class="row">
                    <div class="col-md-6">
                        <i class="ion ion-email"></i>
                    </div>
                    <div class="col-md-6">
                        <span class="text-infos">{{coach.email}}</span>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-6">
                        <i class="ion ion-person"></i>
                    </div>
                    <div class="col-md-6">
                        <span class="text-infos">{{coach.lastName}} {{coach.firstName}}</span>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-6">
                        <i class="ion ion-calendar"></i>
                    </div>
                    <div class="col-md-6">
                        <span class="text-infos">{{coach.birthDate | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
