@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tdfmcx');
  src:  url('fonts/icomoon.eot?tdfmcx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tdfmcx') format('truetype'),
    url('fonts/icomoon.woff?tdfmcx') format('woff'),
    url('fonts/icomoon.svg?tdfmcx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-machine:before {
  content: "\e904";
}
.icon-balance:before {
  content: "\e903";
}
.icon-weight:before {
  content: "\e902";
}
.icon-weight-o:before {
  content: "\e901";
}
.icon-dumbbell:before {
  content: "\e900";
}
.icon-althere:before {
  content: "\1f4aa";
}
