.graph-height {
  height: 15rem;
}

.bg-card-orange {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.bg-card-green {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}

.bg-card-blue {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}