<div class="row" [@fadeIn]>
    <md-card class="col-md-12 card-cascade mb-3" [ngClass]="backgroundColor">
        <h4 class="text-center text-light-weight text-white">{{measurementName}}</h4>
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="chartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </md-card>
</div>
