<div [@fadeIn]>
    <pulpe-page-title
            [title]="'Accueil'">
    </pulpe-page-title>

    <div class="row">
        <div class="col-md-4">
            <pulpe-simple-counter-with-icon icoClass="ion-android-options"
                                            label="Exercices"
                                            icoBackgroundColor="orange"
                                            value="{{dashboard.nbExercises}}">
            </pulpe-simple-counter-with-icon>
        </div>
        <div class="col-md-4">
            <pulpe-simple-counter-with-icon icoClass="ion-podium"
                                            label="Machines"
                                            icoBackgroundColor="green"
                                            value="{{dashboard.nbMachines}}">
            </pulpe-simple-counter-with-icon>
        </div>
        <div class="col-md-4">
            <pulpe-simple-counter-with-icon icoClass="ion-person-stalker"
                                            label="Adhérents"
                                            icoBackgroundColor="blue"
                                            value="{{dashboard.nbMembers}}">
            </pulpe-simple-counter-with-icon>
        </div>
    </div>


    <div class="row card-cascade-parent">
        <div class="col-md-12">
            <md-card class="pt-0 white">
                <div class="row">
                    <div class="col-md-4 pb-5">
                        <md-card class="bg-primary card-cascade">
                            <h4 class="text-light-weight text-white">Ma salle de sport</h4>
                        </md-card>
                        <div class="row mt-5">
                            <div class="col-md-12 pt-4 text-center text-light-weight gym">
                                {{authenticationProfile.gym.name}} - {{authenticationProfile.gym.city}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bg-primary card-cascade text-white block-height-infos">
                                    <h4 class="text-center text-light-weight">Actions</h4>
                                    <hr class="w-100">
                                    <div class="text-center text-light-weight contentInfos">
                                        <div class="row pt-2 pb-4">
                                            <div class="col-md-6">
                                                <div class="row separatorVertical">
                                                    <div class="col-md-12 text-center">
                                                        <h4 class="text-light-weight text-light-primary">
                                                            Ajouter un adhérent
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-12 text-center pt-4">
                                                        <button md-mini-fab class="btn-actions"
                                                                (click)="openMemberFormDialog()">
                                                            <i class="ion-plus text-primary"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <h4 class="text-light-weight text-light-primary">
                                                            Ajouter une machine
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-12 text-center pt-4">
                                                        <button md-mini-fab class="btn-actions"
                                                                (click)="openMachineFormDialog()">
                                                            <i class="ion-plus text-primary"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </div>

    <div class="row pt-3" *ngIf="demo">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-warning text-white" (click)="populateDemoData()">DÉMO</button>
        </div>
    </div>
</div>