<div [@fadeIn]>
    <pulpe-page-title
            [title]="'Liste des adhérents'">
    </pulpe-page-title>

    <pulpe-header-list [title]="'Adhérents'"
                       [icon]="'ion ion-person-stalker'"
                       [nbElements]="members.length"
                       [placeHolderTitle]="'Par nom, prénom'"
                       (filterArgs)="filterArgsChanged($event)">
    </pulpe-header-list>


    <div class="row pt-3">
        <md-card class="col-md-12 my-auto text-center" *ngIf="members.length === 0">
            <div>Aucun adhérent</div>
        </md-card>

        <table class="col-md-12 table table-striped bg-secondary" *ngIf="members.length > 0">
            <thead>
            <tr>
                <th class="text-white text-center text-light-weight text-uppercase">Sexe</th>
                <th class="text-white text-center text-light-weight text-uppercase">Nom</th>
                <th class="text-white text-center text-light-weight text-uppercase">Prénom</th>
                <th class="text-white text-center text-light-weight text-uppercase">Email</th>
                <th class="text-white text-center text-light-weight text-uppercase">Date de naissance</th>
                <th class="text-white text-center text-light-weight text-uppercase">Objectif</th>
                <th class="text-white text-center text-light-weight text-uppercase"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="my-auto text-center" *ngFor="let member of members | filterMembers: filterArgs">
                <td [ngSwitch]="member.gender">
                    <i *ngSwitchCase="'Male'" class="ion ion-male femaleIcon"></i>
                    <i *ngSwitchCase="'Female'" class="ion ion-female maleIcon"></i>
                </td>
                <td>{{member.lastName}}</td>
                <td>{{member.firstName}}</td>
                <td>{{member.email}}</td>
                <td>{{member.birthDate | date:'dd/MM/yyyy'}}</td>
                <td>
                    <img *ngIf="isMassGainer(member.objective)" mdTooltip="Prise de masse"
                         [mdTooltipPosition]="'above'"
                         src="../../assets/img/exercise-types/strength-64.png"
                         class="objectiveImg" alt="Type">
                    <img *ngIf="isGeneralForm(member.objective)" mdTooltip="Forme générale"
                         [mdTooltipPosition]="'above'"
                         src="../../assets/img/exercise-types/stationary-bike-64.png"
                         class="objectiveImg" alt="Type">
                    <img *ngIf="isWeightLoss(member.objective)" mdTooltip="Perte de poids"
                         [mdTooltipPosition]="'above'"
                         src="../../assets/img/exercise-types/weight-64.png"
                         class="objectiveImg" alt="Type">
                </td>
                <td>
                    <div class="row iconsList pull-right">
                        <div class="col-md-6">
                            <button class="ion ion-clipboard pointer bg-primary" md-mini-fab
                                    mdTooltip="Consulter le programme de l'adhérent"
                                    [mdTooltipPosition]="'left'"></button>
                        </div>
                        <div class="col-md-6" (click)="openMemberFormDialog(member)">
                            <button class="ion ion-edit pointer" md-mini-fab mdTooltip="Editer l'adhérent"
                                    [mdTooltipPosition]="'right'"></button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12 pt-2 pb-2 btnBottomRight">
                <button md-fab class="pull-right bg-secondary"
                        (click)="openMemberFormDialog()"
                        mdTooltip="Ajouter un adhérent"
                        [mdTooltipPosition]="'right'">
                    <i class="ion-person-add addIcon"></i>
                </button>
            </div>
        </div>
    </div>
</div>