<div class="row mt-md-9">
    <div class="col-md-12">
        <md-card class="p-0">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="pt-0 bg-primary-color h-100">
                        <div class="row h-100">
                            <div class="col-sm-12 my-auto text-center">
                                <img src="../../assets/logo.png" class="w-25">
                                <div class="pt-2">
                                    <h1>Pulpe</h1>
                                    <h2>Connectez-vous!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pt-0 white">
                                <!--We can't put this two col in row because padding canceling of row break the design -->
                                <!--of card, that apply shadow -->
                                <div class="col-md-12 col-12 pt-2">
                                    <h2 class="pt-1 text-center text-md-left text-primary">Connexion</h2>
                                </div>
                                <div *ngIf="displaySigninError" class="col-md-12 col-12 pr-md-4">
                                    <div class="alert alert-danger">
                                        {{errorMessage}}
                                    </div>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <i class="col-md-1 offset-1 col-2 text-center fa fa-2x fa-envelope prefix my-auto pr-0"></i>
                                        <md-input-container class="col-7 col-md-8">
                                            <input id="inputEmail" type="email" class="form-control" mdInput
                                                   placeholder="Saisissez votre email"
                                                   [(ngModel)]="authenticationProfile.login"
                                                   name="authenticationProfile.login">
                                        </md-input-container>
                                    </div>
                                    <div class="form-group">
                                        <i class="col-md-1 offset-1 col-2 text-center fa fa-2x fa-lock prefix my-auto pr-0"></i>
                                        <md-input-container class="col-7 col-md-8">
                                            <input id="inputPassword" type="password" class="form-control" mdInput
                                                   placeholder="Saisissez votre mot de passe"
                                                   [(ngModel)]="authenticationProfile.password"
                                                   name="authenticationProfile.password">
                                        </md-input-container>
                                    </div>
                                    <div class="form-group">
                                        <md-checkbox class="offset-md-2 col-md-10 offset-3 col-9"
                                                     [(ngModel)]="authenticationProfile.rememberMe"
                                                     name="authenticationProfile.rememberMe">Se souvenir de moi
                                        </md-checkbox>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="offset-md-7 col-md-5 col-12 bottom-md-right">
                                            <button [class.disabled]="signing" type="button"
                                                    class="btn btn-lg btn-primary text-white w-100" (click)="signin()">
                                                Se
                                                connecter
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
    </div>
</div>