<div class="row mt-9">
    <div class="col-md-12">
        <md-card class="p-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="pt-0 bg-primary-color height-content-card">
                        <div class="row h-100">
                            <div class="col-sm-12 my-auto text-center">
                                <img src="../../../assets/img/pulpe-logo-white.png" width="25%">
                                <div class="pt-2">
                                    <h1>Pulpe</h1>
                                    <h2>Connectez-vous!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pt-0 white height-content-card">
                                <div class="row">
                                    <div class="col-md-12 pt-2 pl-">
                                        <h2 class="pt-1 text-primary">Connexion</h2>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <i class="col-md-2 fa fa-2x fa-envelope prefix my-auto text-right"></i>
                                    <div class="col-md-10">
                                        <md-input-container class="col-md-10">
                                            <input id="inputEmail" type="email" class="form-control" mdInput
                                                   placeholder="Saisissez votre email" [(ngModel)]="login">
                                        </md-input-container>
                                    </div>
                                    <i class="col-md-2 fa fa-2x fa-lock prefix my-auto text-right"></i>
                                    <div class="col-md-10">
                                        <md-input-container class="col-md-10">
                                            <input id="inputPassword" type="password" class="form-control" mdInput
                                                   placeholder="Saisissez votre mot de passe" [(ngModel)]="password">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 offset-7 bottom-right">
                                        <button [class.disabled]="signing" type="button" class="btn btn-lg btn-primary text-white w-100" (click)="signin()">Se
                                            connecter
                                        </button>
                                    </div>
                                </div>
                                <div class="row" *ngIf="authenticate">
                                    <div class="col-md-12">
                                        {{authenticate.token}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
    </div>
</div>